.vs
/MyUIToolProject/Library
/MyUIToolProject/Logs
/MyUIToolProject/obj
/MyUIToolProject/Assembly-CSharp.csproj
/MyUIToolProject/MyUIToolProject.sln
/MyUIToolProject/MyUIToolProject.sln.DotSettings.user
